
<div class="row">
  <div class="col-md-12">
    <div>
      <%= @company.name %>
    </div>
    <div>
      <% @company.jobs.each do |job| %>
        <div>
          <%= job.title %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
